@import 'tailwindcss';

:root {
  --background: #ffe7c2;
  --foreground: #2a2a2a;
  --neutral: #f9f6f2;
  --accent-dark: #1c1c1c;
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
}
